body {
    background-color: #181a34;
    color: white;
}




.monlien {
    display: block;
    background-color: black;
    border-radius: 10px;
    border: 4px double grey;
    box-shadow: 10px 5px 5px black;
    color: white;
    text-align: center;
    font-size: 1000%;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    cursor: pointer;
    transform: scale(1);
    transition-duration: 1s;
}
.monlien:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s;
}




.image1 {position: absolute;}
.bord {
    position: relative;
    top : 130px;
    left: 45%;
    width: 30%;
    border: 25px solid grey;
    border-radius: 100px;
    background: grey;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
.desc {
    position: absolute;
    top: 300px;
    right: 10%;
    border: 10px;
    width: 30%;
    font-size: 1.3em;
}
img1 {
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}




.image2 {position: absolute;}
.bord2 {
    position: absolute;
    top : 825px;
    right: 45%;
    width: 30%;
    border: 25px solid grey;
    border-radius: 100px;
    background: grey;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
.desc2 {
    position: absolute;
    top: 1000px;
    left:10%;
    border: 10px;
    width: 30%;
    font-size: 1.3em;
}
.img2 {
    margin-top: 800px;
    margin-left: 50%;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}




.image3 {position: absolute;}
.bord3 {
    position: absolute;
    top : 1425px;
    left: 45%;
    width: 30%;
    border: 25px solid grey;
    border-radius: 100px;
    background: grey;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
.desc3 {
    position: absolute;
    top: 1600px;
    right: 10%;
    border: 10px;
    width: 30%;
    font-size: 1.3em;
}
.img3 {
    margin-top: 1400px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}


button{
    background-color: black;
    width: 100%;
    margin-top: 2200px;
}